<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTB</title>
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>


<body>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" style="font-size: 20px" href="/"><strong>Community Tech Blog</strong></a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarHome">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    
  </div>  

  <div id="navbarHome" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/dashboard">Dashboard</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-link" href="/api/user/logout" type="click" id="logout-button"><strong>Logout</strong></a>
      </div>
      </div>
    </div>
  </div>
  </nav>

  <br>
  <main class="col-auto">
    {{{body}}}
  </main>
  
</body>
<footer class="is-flex is-justify-content-center is-dark">
    &copy; <a href="https://github.com/hsuzach">Zach Hsu</a>
  </footer>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
<script src="/js/logout.js"></script>

