
<div class="dashboard-home is-flex is-flex-direction-column is-align-items-center">
<a class="button is-dark" href="/dashboard/new" type="click" id="new-post-get" style="max-width: 400px;"><strong>Create A New Post</strong></a>
<br>

<container>Existing Posts</container>

</div>