<div class="card is-flex is-flex-direction-column is-align-items-center" >
  <div class="card-content" >
    <div class="content">
      <form class="container is-flex is-flex-direction-column is-align-items-center" id="new-post-form">
        
        <br>
        <div class="field">
        <label class="label" for="new-post-title">Title Your Post:</label>
        <div class="control">
          <input class="input" type="text" name="new-post-title" id="new-post-title" size="50" placeholder="Title Here">
        </div>
      </div>
      <hr>
      <div class="field">
        <label class="label" for="new-post-content">Share Your Thoughts:</label>
        <div class="control">
          <textarea class="textarea" name="new-post-content" id="new-post-content" cols="50" rows="6" placeholder="Ex: Coding is Great!"></textarea>
        </div>
      </div>
      <br>
      <button type="click" class="button is-dark" id="new-post-submit"><strong>Submit Post</strong></button>

      <br><br>
    </form>
    </div>
  </div>
</div>

<script src="/js/new-post.js"></script>