<br>
<form class="mx-6 my-6 py-6" id="signup-form">
  <div class="container is-flex is-flex-direction-column is-align-items-center">
  <div class="" style="font-size: larger;"><strong>
    Create A New Account</strong></div>
  <br>
  <div class="field">
  <label class="label" for="username-signup">Username</label>
  <div class="control">
    <input class="input" type="text" name="username-signup" id="username-signup" size="30" placeholder="Username Here">
  </div>
</div>

<div class="field">
  <label class="label" for="password-signup">Password</label>
  <div class="control">
    <input class="input" type="text" name="password-signup" id="password-signup" size="30" placeholder="Password Here">
  </div>
</div>
<br>
<button type="click" class="button is-success" id="signup-button"><strong>Submit</strong></button>

<br><br>
</form>

<a href="/login">Already have an account?</a>

</div>

